<h1> Login Page </h1>


<form action="/login" method="post">
	<input type="text" name="username"
        placeholder="username">
	<br />
	
    <input type="password" name="password" 
        placeholder="password">
	<br />
	
    <button> login </button>
</form>

<p> Yes this is a very pretty form too fight me.</p>
<a href="/register"> Click here to register instead if no account </a>
<p> this is top their ux ik </p>

<script>
let msg = "<%= message %>"

if(msg) {
	alert(msg);
	}
</script>