<h1> Registration Page </h1>

<form action="/register-user" method="post">
	<input type="text" name="username"
        placeholder="username">
	<br />
	
    <input type="password" name="password" 
        placeholder="password">
	<br />
	
    <button> register </button>
</form>

<p> Yes this is a very pretty form fight me.</p>